body{
    padding:0;
    margin:0;
    background-color: #95b1a7;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.main-container{
    margin: 4%;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
}
.logo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-box,.signin-box{
    width: 50%;
}
.inner-logo-box{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.logo-up-text{
    font-weight: bold;
    font-size: 48px;
}
.logo-img{
    height: 120px;
    width: 120px;
    background-image: url('./logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: red; */
}
.signin-box{
    font-family: sans-serif;
    /* background-color: #e6f7f2; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-signin{
    margin:20px;
    height: 80%;
    width: 60%;
    padding: 5%;
    border-radius: 5%;
    background-color: #e6f7f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signin-text{
    display: inline-block;
    font-weight: bold;
    font-size:xx-large;
}
.crt-acc-text{
    font-size:12px;
    padding-bottom: 2%;
    padding-top: 2%;
    display: inline-block;
}
.signin-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-input{
    width: 60%;
    border: none;
    border-radius: 7px;
    padding: 4%;
    background-color: #d1ded9;
    color: #95b1a7;
    margin-top: 2%;
    margin-bottom: 2%;
}
.submit-button{
    height: 3rem;
    width: 10rem;
    margin-top: 2%;
    font-size: large;
    font-weight: bold;
    background-color: #95b1a7;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.submit-button:hover{
    background-color: #819c93;
}
.form-input:active{
    border: none;
}
