body{
    padding:0;
    margin:0;
    background-color: #95b1a7;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
