body{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


/* item-details */
.item-details{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}
.item-carousel{
    margin:5px;
    width: 100%;
    height: 100%;
    background-color: #e2f6ee;
}
.item-image{
    height: 100%;
    width: 100%;
}
.item-description{
    display: flex;
    flex-direction: column;
    justify-items:right;
    padding:    20px;
}
.item-description a{
    text-decoration: none;
    color: #566c63;
}
.item-description a:hover{
    text-decoration: underline;
    color: #45554e;
}
.item-description p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.item-about p{
    font-weight: normal;
    font-size: 16px;
}
.item-about h1{
    color:#45554e;
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
}
.item-about a{
    color: blue;
}
.item-about a:hover{
    text-decoration: underline;
    color: rgb(119, 0, 255);
}
.st-line{
    width: 100%;
    border: 1px solid #95b1a7;
}


/* user description */
.user-description{
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
    padding: 20px;
    height: fit-content;
}
.user-description h1{
    font-weight: bold;
    font-size: large;
}
.user-img{
    display: flex;
    justify-content: center;
}
.user-img img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.user-name{
    margin-top: 20px;
    font-weight: bold;
    font-size: larger;
}
.view-user{
    width: 50%;
    font-size: medium;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #566c63;
}
.view-user:hover{
    background-color: #495c54;
}
.similar-items{
    width: 100%;
    /* background-color: azure; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.item-container{
    border: 1px solid rgb(190, 188, 188);
    /* border-radius: 5px;   */
    height: 550px;
    display: flex;
    margin:15px 15px 15px;
    flex-direction: column;

}
.image-box{
    width: 90%;
    height: 50%;
    background-color: #E2F6ED;
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
}
.image{
    height: 100%;
    width: 80%;
}
.item-category{
    color: rgb(149, 149, 149);
    margin:0px 0px 0px 20px;
    text-decoration: none;
    width:fit-content;
    cursor: pointer;
}
.item-category:hover{
    color:rgb(80, 80, 80);
    text-decoration: underline;
}
.item-title{
    font-weight: bold;
    font-size: xx-large;
    box-sizing: border-box;
    margin:-5px 0px 0px 20px;
    display: inline-block;
}
.item-desc{
    display: inline-block;
    width: 90%;
    margin:0px 0px 0px 20px;
}
.horizontal-line{
    border: 1px solid rgb(237, 236, 236);
    width:82%;
    margin: 5px 0px 0px 20px;
}
.view-button{
    background-color: #495c54;
    color: white;
    font-weight: bold;
    width: 30%;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    margin:10px 0px 10px 20px;
    cursor: pointer;
}
.view-button:hover{
    background-color: #384942;
}
.posted-on,.condition{
    margin: 5px 0px 0px 20px;
}
