body{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
/* shared items */
.shared-items{
    width: 100%;
    padding: 10px;
    margin-top: -10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:20px;
}

.item{
    width: 100%;
    /* margin: 10px 0px 0px; */
    border: 1px solid #95b1a7;
    border-radius: 10px;
    display: flex;
    margin:0px 10px 0px 10px;
}

.image{
	height:4rem;
	width:4rem;
}

.item-category{
    color: #566c63;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
}
.item-category:hover{
    text-decoration: underline;
    color: #495c54;
}
.item-name{
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}
.item-details{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.item-details b{
    color: #495c54;
}
.item-details p{
    margin: 0;
}
.shared-to{
    text-decoration: none; color: #495c54; cursor: pointer;
}
.shared-to:hover{
    text-decoration: underline;
}
