.body{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.main_content{
    border: 4px solid white;

    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 800px;
    align-items: center;
    
}

.sidebar {

    width: 200px;
    background: #8294a7;
    color: white;
    padding: 20px;
    height: 1100px;

}

.sidebar h2 {
    text-align: center;
    text-decoration: ;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: #34495e;
}

.sign-out {
    width: 100%;
    padding: 10px;
    background-color: #e2f6ee;
    border: none;
    color: black;
    cursor: pointer;
    margin-top: 630px;
}


    


.main {
    flex: 1;
    padding: 20px;
    background: #84c0a7;
}

.profile-container {
    background: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #34495e;
}


.uploadPhoto{
    width: 120px;
    padding: 2px;
    background-color: #5b8f7a;
    border: none;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 150px ;
    border-radius: 10px;

}

.deletePhoto{
    width: 120px;
    padding: 2px;
    background-color: #5b8f7a;
    border: none;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: px ;
    border-radius: 10px;


}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button[type="submit"] {
    background: #27ae60;
    color: white;
}

button[type="reset"] {
    background: #e74c3c;
    color: white;
}


